.wrapper{
    border: solid black 5px;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.Calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.myface{
    display: flex;
    justify-content: center;
    align-items: center;
}